*{
  scroll-behavior: smooth;

}


body{
  overflow-x: hidden;
}


.test{
  background-image: linear-gradient(45deg,#4158D0,#C850C0, #00DBDE,#FC00FF);
  animation: change_gradient 3s infinite alternate;
  background-size: 400%;
  transform-style: preserve-3d;
}





@keyframes change_gradient{
    from{
      background-position:left;
    }
    to{
      background-position: right;
    }
  }


  .magicpattern { 
    width: 100px;
    filter: blur(40px);
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(-45 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%2308AEEA%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%232AF598%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M746.5 650.5q-72.5 150.5-238 136T214.5 636Q86 500 181 305.5t308.5-176Q703 148 761 324t-14.5 326.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M746.5 650.5q-72.5 150.5-238 136T214.5 636Q86 500 181 305.5t308.5-176Q703 148 761 324t-14.5 326.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }

  .rotating {
    animation: rotating 5s linear infinite ;
  }
  


@keyframes rotating{
  from{
    transform: rotate(0);
  }to{
    transform: rotate(360deg);
  }
}

.web{
  filter: drop-shadow(1px 1px 5px linear-gradient(45deg,#4158D0,#C850C0, #00DBDE,#FC00FF));
}


.x{
  position:relative;
  background-color: #0d0d0d;
  transition: background-image 0.3s ease;
}

.x:hover{
  background-image: linear-gradient(45deg, #00DBDE,#FC00FF);
}

.x::before{
  content:'';
  position: absolute;
  inset: -1px;
  z-index: -1 !important;
  background-image: linear-gradient(45deg, #00DBDE,#FC00FF);
  animation: change_gradient 3s infinite alternate;
  background-size: 400%;
  filter: blur(10px);
}

.j::after {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 6px; 
  padding: 2px; 
  background:linear-gradient(45deg, #00DBDE,#FC00FF); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.bg{
    transition: background-color 0.3s ease;
}

@media(hover){

  .btn{
    position: relative;
  }
  
  .btn::before{
    content: '';
    position: absolute;
    inset: 0;
    transform: scaleX(0);
    transition: transform 300ms linear;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transform-origin: right;
  
  }
  
  .btn:hover::before{
    transform: scaleX(1);
    transform-origin: left;
  }


.btn2{
  position: relative;
}

.btn2::before{
  content: '';
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transition: transform 300ms linear;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transform-origin: right;

}

.btn2:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}

.btn3{
  position: relative;
}

.btn3::before{
  content: '';
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transition: transform 300ms linear;
  background-color: #7289da;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transform-origin: right;

}

.btn3:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}

.btn4{
  position: relative;
}

.btn4::before{
  content: '';
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transition: transform 300ms linear;
  background-color: #0b66c2;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transform-origin: right;

}

.btn4:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}

}